<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Reddit Madlibs</title>

	<!-- Bootstrap -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/custom.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1><center>Reddit Madlibs</center></h1>
		<hr/>
		<div class="row">
			<center>
				<h3>A Subreddit Content Masher</h3>
				<br>
				<br>
				<form method="GET" action="/">
					<div class="col-md-6">
						<div class="form-group">
							<label for="usr">Subreddit 1</label>
							<input type="text" class="form-control" name="sub1" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<label for="pwd">Subreddit 2</label>
							<input type="text" class="form-control" name="sub2" />
						</div>
					</div>
					<br><br><br><br><br>
					<button type="submit" class="btn btn-success">MASH!</button>
				</form>
			</center>
		</div>
		<br><br>
		{% if not noposts %}
		<div class="well">
			{% if sub1 == None %}
			<b>Subreddit /r/{{sub1}} not found!</b>
			{% elif sub2 == None %}
			<b>Subreddit /r/{{sub2}} not found!</b>
			{% else %}
				<div id="mashed">
					<center><b>Mashed <a href="https://reddit.com/r/{{sub1}}">{{sub1}}</a> + <a href="https://reddit.com/r/{{sub2}}">{{sub2}}</a>!</b></center>
				</div>
			<br><br>
			{% if mashed %}
			{% for mash in mashed %}
				<div class="well" id="well-inner">
					{{mash[0]}}
					<br>
					({{mash[1]}})
				</div>
			{% endfor %}
			{% else %}
			{% endif %}
			{% endif %}
			<br/>
		</div>
		{% endif %}
		<hr/>
	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>

	<script>
	$(document).ready(function(){
		$('[data-toggle="tooltip"]').tooltip();
	});
	</script>
</body>
</html>
